<div id="time-card" class="card">
  <div
    class="rotating-part"
    (animationend)="onAnimationFinish()"
    [ngClass]="{ flip: playAnimation }"
  >
    <div
      [ngStyle]="{ fontSize: fontSize + 'px' }"
      class="card-body card-mask front"
    >
      {{ current }}
    </div>
    <div
      [ngStyle]="{ fontSize: fontSize + 'px' }"
      class="card-body card-mask back"
    >
      {{ next }}
    </div>
  </div>
  <div
    [ngStyle]="{ fontSize: fontSize + 'px' }"
    class="card-body card-mask top"
  >
    {{ next }}
  </div>
  <div
    [ngStyle]="{ fontSize: fontSize + 'px' }"
    class="card-body card-mask bottom"
  >
    {{ current }}
  </div>
</div>
<label [ngStyle]="{ fontSize: fontSizeLabel + 'px' }" for="time-card">{{
  text
}}</label>
