<div class="container">
  <div class="left">
    <app-number-input
      title="Bill"
      imgUrl="../../assets/img/icon-dollar.svg"
      imgAlt="Dollar image"
      [value]="billAmount"
      [errorMsg]="billAmountError"
      (valueChange)="onBillAmountChange()"
    ></app-number-input>
    <app-tip-input
      title="Select Tip %"
      [selectedTip]="selectedTip"
      (selectedTipChange)="onSelectedTipChange($event)"
      [customTip]="customTip"
      (customTipChange)="onCustomTipChange()"
    ></app-tip-input>
    <app-number-input
      title="Number of People"
      imgUrl="../../assets/img/icon-person.svg"
      imgAlt="Person image"
      [value]="peopleAmount"
      [errorMsg]="peopleAmountError"
      (valueChange)="onPeopleAmountChange()"
    ></app-number-input>
  </div>
  <div class="right">
    <app-result-text
      title="Tip Amount"
      subtitle="/ person"
      [amount]="tipAmountPerPerson"
    ></app-result-text>
    <app-result-text
      title="Total"
      subtitle="/ person"
      [amount]="totalPerPerson"
    ></app-result-text>
    <div class="space"></div>
    <button (click)="onReset()">RESET</button>
  </div>
</div>
