.container {
  background-color: var(--white);
  display: flex;
  padding: 20px 20px;
  border-radius: 20px;
  max-width: 65%;
}

.container div {
  flex: 1;
  padding: 30px;
}

.left {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.right {
  background-color: var(--very-dark-cyan);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.space {
  flex: 1;
}

button {
  align-self: flex-end;
}

button:hover {
  background-color: var(--light-grayish-cyan);
}

app-result-text {
  margin-bottom: 25px;
}

@media screen and (max-width: 700px) {
  .container {
    min-width: 100vw;
    flex-direction: column;
    padding: 0px;
  }

  .right {
    margin: 20px;
  }

  app-result-text {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 1335px) {
  .container {
    max-width: 75vw;
  }
}

@media screen and (max-width: 910px) {
  .container {
    max-width: 85vw;
  }
}
