.container {
  display: flex;
  flex-direction: row;
}

.container div {
  flex: 1;
}

.label {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.title {
  color: var(--white);
}

.subtitle {
  color: var(--dark-grayish-cyan);
  font-size: var(--font-size-small);
}

.result {
  display: flex;
  align-items: center;
  justify-content: right;
  font-weight: var(--font-weights);
  color: var(--strong-cyan);
}

.result label {
  font-size: 2.2rem;
  font-weight: 700;
}
