<header>
  <h1>Simple, traffics-based pricing</h1>
  <h4>Sing-up for our 30-day trial. No credit card required.</h4>
</header>
<aside>
  <section>
    <div class="pricing">
      <h5>{{ pageViews }}K PAGEVIEWS</h5>
      <app-price [price]="price"></app-price>
    </div>
    <app-range-input></app-range-input>
    <div class="billing">
      <label id="test">Monthly Billing</label>
      <app-checkbox [(value)]="yearly"></app-checkbox>
      <label>Yearly Billing<span>25% discount</span></label>
    </div>
  </section>
  <div class="devider"></div>
  <footer>
    <ul>
      <li>Unlimited websites</li>
      <li>100% data ownership</li>
      <li>Email reports</li>
    </ul>
    <button>Start my trial</button>
  </footer>
</aside>
