@import '../variables.scss';

:host {
    display       : flex;
    align-items   : center;
    flex-direction: column;
    row-gap       : 10vh;

    header {
        background-image   : url('../assets/images/pattern-circles.svg');
        background-position: center;
        background-repeat  : no-repeat;
        background-size    : contain;
        text-align         : center;
        margin-top         : 10vh;

        h1 {
            color: $dark-desaturated-blue;

            @media (max-width: 610px) {
                font-size: 1.5rem;
            }
        }

        h4 {
            color: $grayish-blue;
        }
    }

    aside {
        background-color: white;
        padding         : 40px;
        border-radius   : 10px;
        box-shadow      : 10px 10px 50px -10px gray;
        width           : 600px;

        section {
            display       : flex;
            flex-direction: column;
            align-items   : center;
            row-gap       : 35px;
            margin-bottom : 35px;

            .pricing {
                width      : 100%;
                display    : flex;
                color      : $grayish-blue;
                align-items: center;

                h5 {
                    font-size     : larger;
                    letter-spacing: .1rem;
                    flex          : 1;
                    margin        : 0;

                    @media (max-width: 610px) {
                        text-align: center;
                    }
                }

            }

            .range-input {
                margin-bottom     : 20px;
                width             : 100%;
                -webkit-appearance: none;
                height            : 10px;
                border-radius     : 10px;

                &:hover {
                    cursor: pointer;
                }

                &:focus {
                    outline: none;
                }

                &::-webkit-slider-thumb {
                    border             : none;
                    width              : 40px;
                    height             : 40px;
                    border-radius      : 50%;
                    background         : $strong-cyan;
                    -webkit-appearance : none;
                    background-image   : url('../assets/images/icon-slider.svg');
                    background-position: center;
                    background-repeat  : no-repeat;
                    box-shadow         : 2px 15px 12px 0px $soft-cyan;
                }

                &:hover::-webkit-slider-thumb {
                    opacity: .7;
                }

                &:active::-webkit-slider-thumb {
                    opacity: 1;
                    cursor : grabbing;
                }

                &::-moz-range-thumb {
                    border             : none;
                    width              : 40px;
                    height             : 40px;
                    border-radius      : 50%;
                    background         : $strong-cyan;
                    -webkit-appearance : none;
                    background-image   : url('../assets/images/icon-slider.svg');
                    background-position: center;
                    background-repeat  : no-repeat;
                    box-shadow         : 2px 15px 12px 0px $soft-cyan;
                }

                &:hover::-moz-range-thumb {
                    opacity: .7;
                }

                &:active::-moz-range-thumb {
                    opacity: 1;
                    cursor : grabbing;
                }
            }

            .billing {
                width          : 100%;
                display        : flex;
                justify-content: center;
                align-items    : center;

                label {
                    flex       : 1;
                    color      : $grayish-blue;
                    margin-left: 10px;

                    span {
                        position        : relative;
                        font-size       : smaller;
                        padding         : 3px;
                        padding-left    : 2px;
                        padding-right   : 5px;
                        border-radius   : 10px;
                        background-color: $light-grayish-ed;
                        color           : $light-red;
                        margin-left     : 10px;
                    }

                    @media (max-width: 470px) {
                        font-size: .7rem;
                    }
                }

                #test {
                    margin-left : 0px;
                    margin-right: 10px;
                    text-align  : right;
                }
            }
        }

        .devider {
            position  : relative;
            height    : 1px;
            opacity   : .7;
            width     : calc(100% + 80px);
            background: $pale-blue;
            left      : -40px;

        }

        footer {
            display    : flex;
            align-items: center;
            margin-top : 10px;

            ul {
                flex               : 1;
                list-style-position: inside;
                list-style-image   : url('../assets/images/icon-check.svg');
                color              : $grayish-blue;
                padding            : 0px;

                li {
                    line-height: 2rem;

                    span {
                        padding-left: 1em;
                    }
                }

                @media (max-width: 610px) {
                    text-align: center;
                    font-size : medium;
                }
            }

            button {
                background-color: $dark-desaturated-blue;
                color           : $light-grayish-blue;
                font-size       : medium;
                font-weight     : 800;
                width           : 35%;
                height          : 40px;
                border          : none;
                border-radius   : 20px;

                &:hover {
                    color : $very-pale-blue;
                    cursor: pointer;
                }

                @media (max-width: 610px) {
                    width: 60%
                }
            }

            @media (max-width: 610px) {
                row-gap       : 25px;
                flex-direction: column;
            }
        }

        @media (max-width: 610px) {
            min-width: none;
            max-width: 75vw;
        }
    }
}