* {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: var(--very-dark-cyan);
  font-size: var(--font-size-big);
  margin: 13vh 0px 7vh;
  letter-spacing: 0.4em;
  font-weight: 700;
}

@media screen and (max-width: 665px) {
  h1 {
    margin: 7vh 0px 3vh;
  }
}
