@import '../variables.scss';

:host {
    display       : flex;
    align-items   : center;
    flex-direction: column;

    header {
        background-image   : url('../assets/images/pattern-circles.svg');
        background-position: center;
        background-repeat  : no-repeat;
        background-size    : contain;
        text-align         : center;

        h1 {
            color: $dark-desaturated-blue;
        }

        h4 {
            color: $grayish-blue;
        }
    }

    aside {
        background-color: white;
        padding         : 20px;
        border-radius   : 10px;
        box-shadow      : 10px 10px 50px -10px gray;
        width           : 34.375rem;

        section {
            display       : flex;
            flex-direction: column;
            align-items   : center;
            row-gap       : 25px;

            .pricing {
                width      : 100%;
                display    : flex;
                color      : $grayish-blue;
                align-items: center;

                h5 {
                    font-size     : larger;
                    letter-spacing: .1rem;
                    flex          : 1;
                    margin        : 0;
                }
            }

            .range-input {
                margin-bottom     : 20px;
                width             : 100%;
                -webkit-appearance: none;
                height            : 10px;
                border-radius     : 10px;

                &:hover {
                    cursor: pointer;
                }

                &:focus {
                    outline: none;
                }

                &::-webkit-slider-thumb {
                    border             : none;
                    width              : 40px;
                    height             : 40px;
                    border-radius      : 50%;
                    background         : $strong-cyan;
                    -webkit-appearance : none;
                    background-image   : url('../assets/images/icon-slider.svg');
                    background-position: center;
                    background-repeat  : no-repeat;
                    box-shadow         : 2px 15px 12px 0px $soft-cyan;
                }

                &:hover::-webkit-slider-thumb {
                    opacity: .7;
                }

                &:active::-webkit-slider-thumb {
                    opacity: 1;
                    cursor : grabbing;
                }

                &::-moz-range-thumb {
                    border             : none;
                    width              : 40px;
                    height             : 40px;
                    border-radius      : 50%;
                    background         : $strong-cyan;
                    -webkit-appearance : none;
                    background-image   : url('../assets/images/icon-slider.svg');
                    background-position: center;
                    background-repeat  : no-repeat;
                    box-shadow         : 2px 15px 12px 0px $soft-cyan;
                }

                &:hover::-moz-range-thumb {
                    opacity: .7;
                }

                &:active::-moz-range-thumb {
                    opacity: 1;
                    cursor : grabbing;
                }
            }

            .billing {
                width          : 100%;
                display        : flex;
                justify-content: center;

                label {
                    flex       : 1;
                    color      : $grayish-blue;
                    margin-left: 10px;

                    span {
                        font-size       : smaller;
                        padding         : 3px;
                        padding-left    : 5px;
                        padding-right   : 5px;
                        border-radius   : 10px;
                        background-color: $light-grayish-ed;
                        color           : $light-red;
                        margin-left     : 10px;
                    }
                }

                #test {
                    margin-left : 0px;
                    margin-right: 10px;
                    text-align  : right;
                }
            }
        }

        footer {
            display: flex;
        }

        @media (max-width: 550px) {
            min-width: none;
            max-width: 60vw;
        }
    }
}