.home {
    margin-top    : 60px;
    display       : flex;
    flex-direction: column;
    padding       : 1.3rem;
    gap           : 2.5rem;
}

.articles {
    display       : flex;
    flex-direction: column;
    gap           : 2.5rem;

    @media screen and (min-width: 1000px) {
        display              : grid;
        grid-template-columns: calc(70% - 20px) 30%;
        gap                  : 1.5rem;
    }
}