@import '../../styles/variables.scss';

.item {

    display       : flex;
    flex-direction: column;
    gap           : .6rem;

    a {
        color    : white;
        font-size: 1.2rem;

        &:hover {
            color : $softOrange;
            cursor: pointer;
        }
    }

    p {
        margin: 0px;
        color : $grayishBlue;
    }
}