@import '../../styles/variables.scss';

.news {
    display         : flex;
    flex-direction  : column;
    background-color: $veryDarkBlue;
    padding         : 20px 35px;
    gap             : 20px;
    justify-content : space-between;

    h2 {
        color        : $softOrange;
        margin       : 0px;
        margin-bottom: 10px;
        font-size    : 2.5rem;
    }

    span {
        height          : 2px;
        width           : 100%;
        background-color: $darkGrayishBlue;
    }
}