@import '../styles/shared';
@import '../styles/color-palette';

.container {
  display      : flex;
  border-radius: $border-radious;
  min-width    : 350px;
  max-width    : 70%;
  border-color : $header-outline;
  border-style : solid;
  padding      : 20px;

  span {
    flex: 1;
  }
}

.left {
  align-self: flex-end;
}