.navbar {
    position: fixed;
    top     : 0;
    width   : min(1160px, calc(100vw - 40px));
    margin  : auto;

    display         : flex;
    padding         : 20px;
    align-items     : center;
    height          : 2.5rem;
    gap             : 1.5rem;
    background-color: white;

    span {
        flex: 1;
    }
}

.sidemenu {
    position        : absolute;
    top             : 0%;
    right           : 0%;
    width           : 75vw;
    height          : 100vh;
    background-color: white;

    img {
        position: absolute;
        top     : 0%;
        right   : 0%;
        padding : 20px;
    }

    div {
        display        : flex;
        flex-direction : column;
        height         : 80%;
        justify-content: center;
        gap            : 20px;
        padding-left   : 20px;

        a {
            font-weight: 500;
        }
    }
}