<div class="container">
  <div class="label row">
    <label>{{ title }}</label>
  </div>
  <div class="selection-grid">
    <button
      *ngFor="let tip of tipOptions"
      [ngClass]="{ selected: tip === selectedTip }"
      (click)="onSelectedTipChange(tip)"
    >
      {{ tip }}%
    </button>
    <input
      [ngClass]="{
        'selected-input': customTip.value.length > 0
      }"
      #tipInput
      class="input"
      placeholder="Custom"
      [formControl]="customTip"
      (focus)="tipInput.select(); onCustomTipFocus()"
      (input)="onCustomTipChange()"
      (focusout)="onCustomTipChange()"
    />
  </div>
</div>
