.selection-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 10px 10px;
}

input {
  text-align: center;
}

.input {
  margin: 0px;
  padding: 10px 10px;
}

button {
  background-color: var(--very-dark-cyan);
  color: var(--white);
}

.selected {
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
}
