@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');
@import './styles/variables';


@mixin left-animation($delay) {
    position           : relative;
    opacity            : 0;
    left               : 100%;
    animation-name     : appearFromRight;
    animation-duration : 1s;
    animation-delay    : $delay;
    animation-fill-mode: forwards;
}

* {
    font-family: 'League Spartan', sans-serif;
    font-size  : 15px;
}

body {
    margin             : 0px;
    background-image   : url('./assets/bg-pattern-bottom-desktop.svg'), url('./assets/bg-pattern-top-desktop.svg');
    background-position: right bottom, left top;
    background-repeat  : no-repeat, no-repeat;
    overflow-x         : hidden;

    @media (max-width:950px) {
        background-image: url('./assets/bg-pattern-bottom-mobile.svg'), url('./assets/bg-pattern-top-mobile.svg');
    }

}

main {
    height   : 100vh;
    margin   : auto;
    max-width: min(90%, 1100px);

    display        : flex;
    flex-direction : column;
    gap            : 4rem;
    align-self     : center;
    justify-content: center;

    .rating {
        display    : flex;
        align-items: center;

        &>* {
            flex: 1;
        }

        .text {
            display       : flex;
            flex-direction: column;
            gap           : .5rem;

            h2 {
                font-weight: 700;
                font-size  : clamp(2rem, 10vw, 3.5rem);
                color      : $very-dark-magenta;
                margin     : 0;
            }

            p {
                font-size   : 1rem;
                font-weight : 500;
                margin-right: 20%;
                color       : $dark-grayish-magenta;
            }
        }

        .stars {
            display        : flex;
            flex-direction : column;
            gap            : 1rem;
            justify-content: center;
            width          : 100%;

            div {
                width: 80%;
            }

            &>div:nth-child(1) {
                @include left-animation(.2s)
            }

            &>div:nth-child(2) {
                align-self: center;
                @include left-animation(.3s)
            }

            &>div:nth-child(3) {
                align-self: flex-end;
                @include left-animation(.4s)
            }
        }


    }

    .opinions {
        display: flex;
        gap    : 2rem;

        &>div:nth-child(1) {
            @include left-animation(.2s)
        }

        &>div:nth-child(2) {
            position: relative;
            top     : 1rem;
            @include left-animation(.3s)
        }

        &>div:nth-child(3) {
            position: relative;
            top     : 2rem;
            @include left-animation(.4s)
        }
    }

    @media (max-width:950px) {
        gap            : 2.5rem;
        justify-content: flex-start;
        margin-top     : 5%;

        .rating,
        .opinions {
            flex-direction: column;
        }

        .rating {
            gap: 2.5rem;

            .text {
                align-items: center;

                h2 {
                    text-align: center;
                }

                p {
                    text-align  : center;
                    margin-right: 0px;
                }
            }

            .stars {
                align-items: center;

                div {
                    width: 100%;
                }

                &>div:nth-child(3) {
                    align-self: center;
                }
            }
        }

        .opinions {
            &>div:nth-child(2) {
                top: 0rem;
            }

            &>div:nth-child(3) {
                top: 0rem;
            }
        }
    }
}

@keyframes appearFromRight {
    100% {
        opacity: 1;
        left   : 0%;
    }
}

@keyframes appearFromBottom {
    100% {
        opacity: 1;
        bottom : 0%;
    }
}