@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');
@import './styles/variables';

:root {
    display        : flex;
    align-items    : center;
    justify-content: center;
    height         : 100%;

    @media (max-width: 570px) {
        align-items: normal;
    }
}

* {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size  : 18px;
    padding    : 0px;
    margin     : 0px;
}