@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

* {
    padding    : 0px;
    margin     : 0px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
    min-height: 100vh;
    min-width : 100Vw;
    background: radial-gradient(circle at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}