@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
@import './styles/themes';
@import './styles/breakpoints';

* {
    padding    : 0px;
    margin     : 0px;
    font-family: 'Josefin Sans', sans-serif;
    font-size  : 18px;
}

body {
    min-height: 100vh;
    min-width : 100Vw;
    @include themed(background-color, 'bg-color');
    @include themed(background-image, 'bg-desktop-image');
    background-position: top;
    background-repeat  : no-repeat;
    background-size    : 100% 40%;

    @include sm {
        @include themed(background-image, 'bg-mobile-image');
    }
}