/* You can add global styles to this file, and also import other style files */

* {
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);

  --font-size-big: 1rem;
  --font-size-small: 0.7rem;
  font-weight: 700;
}

html {
  background-color: var(--light-grayish-cyan);
  font-family: "Space Mono", monospace;
  max-width: 1440px;
}
