/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');
@import './variables.scss';

body {
    font-family     : 'DM Sans', sans-serif;
    background-color: $cream;
}

:root {
    font-size: 18px;
}