$GrayishBlue: hsl(237, 18%, 59%);
$SoftRed    : hsl(345, 95%, 68%);

$White                  : hsl(0, 0%, 100%);
$DarkDesaturatedBlue    : hsl(236, 21%, 26%);
$VeryDarkBlue           : hsl(235, 16%, 14%);
$VeryDarkMostlyBlackBlue: hsl(234, 17%, 12%);

$CardTop    : rgba(45, 44, 68, 255);
$CardTextTop: rgba(211, 82, 114, 255);
$CardBottom : rgba(52, 54, 79, 255)